<form>
  <div class="form-group">
    <label for="exampleInputEmail1">Name</label>
    <input type="name" class="form-control name" id="exampleInputEmail1" placeholder="name">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Numbers</label>
    <input type="numbers" class="form-control nums" id="exampleInputPassword1" placeholder="numbers">
  </div>
  <div class="btn btn-default submit-btn">Submit</div>
</form>